sirh.pn-groupe.fr {
  encode gzip zstd

  # API
  handle /api/* {
    reverse_proxy api:4000
  }
  handle /docs* {
    reverse_proxy api:4000
  }

  # Front
  handle {
    reverse_proxy web:3000
  }

  # Security headers
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Frame-Options SAMEORIGIN
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }
}
